body{
    background: #E5E5E5;
}
.sem-name{
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 3% 0 0 6%;
}
.text{

    margin: 10% 2% 0 6%;
    width: 55%;
    height: 70vh;
}
#input{
    width: 100%;
    height: inherit;
    align-items: center;
    resize: none;
    border: none;
    background: none;
    color: #0A3871;
    font-size: 32px;
    
}
textarea:focus, input:focus, select:focus {
    outline: 0;
} 
#resultado{
    width: 24%;
    height: 91vh;
    background: white;
    margin-top: 30px;
    align-items: flex-start;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 24px;
    color: #495057;
    text-align: left;
    font-size: 24px;
    white-space: pre-line;

}
.divres{
    height: 85%;
    overflow-y: auto;
}
.textres{
    color: #343A40;
    text-align: center;
    display: flex;
    align-items: center;
    height: 80%;
}
.nen{
    font-size: 30px;
    font-weight: 700;
}
.digi{
    font-size: 16px;
}
.apenas{
    text-align: left;
    margin-left: 4%;
    margin-bottom: 1%;
    font-size: 18px;
    color: #495057;
    display: flex;
    align-items: center;
}
.but{
    text-align: center;
}
button{
    width: 40%;
    height: 10%;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    margin-right: 6%;
    cursor: pointer;
}
.copi{
    width: 40%; 
    height: 10%;
    margin-bottom: 1%;
    color: #0A3871;
    border: 2px solid #0A3871;
    background-color: white;
    margin-left: 29%;
}
#cod{
    background-color: #0A3871;
    color: white;
}
#decode{
    background: none;
    color: #0A3871;
    border: 2px solid #0A3871;
}
@media screen and (max-width: 1200px) {
    .sem-name, .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .logo{
        text-align: left;
    }
    #input{
        width: 100%;
        height: 300px;
    }
    .but{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    button{
        width: 100%;
        margin: 3% 1%;
    }
    #resultado{
        width: auto;
        height: auto;
        margin: 2% 2%;
    }
@media screen and (max-width: 700px) {
    .sem-name, .text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .logo{
        text-align: left;
    }
    #input{
        width: 100%;
        height: 300px;
    }
    .but{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    button{
        width: 100%;
        margin: 3% 0;
    }
    #resultado{
        width: auto;
        height: auto;
        margin: 2% 2%;
    }
    
}