body{
    background: #E5E5E5;
}
.sem-name{
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 40px 0 0 80px;
}
.text{

    margin: 150px 50px 0 50px;
}
#input{
    width: 680px;
    height: 400px;
    align-items: center;
    resize: none;
    border: none;
    background: none;
    color: #0A3871;
    font-size: 32px;
}
#resultado{
    width: 300px;
    height: 650px;
    background: white;
    margin-top: 30px;
    align-items: flex-start;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 24px;
}
.but{
    text-align: center;
}
button{
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
}
#cod{
    background-color: #0A3871;
    color: white;
}
#decode{
    background: none;
    color: #0A3871;
    border: 2px solid #0A3871;
}